<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    here is the detail of that product is present 
    <%= product._id %> <br>
    <%= product.brand %> <br>
    <%= product.title %> <br>
    <%= product.price %> <br>
    <%= product.seller %> <br>
    <%= product.reviews[0] %>  <br>
</body>
</html>