
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Products</title>
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

</head>
<body style="background-color:#393939 ;">
    <div id="main">
        <div id="nav">
            <div id="logo"><img src="/images/assets/logo.png" alt=""></div>
            <div id="right">
                <a href="/home">Home</a><a href="/product">Products</a><a href="/bot">Bot</a><a href="/logout" id="logout">Logout</a>
            </div>
        </div>
    <h1 style="text-align: center;font-size: 5vw;color: black;">Recommended Products</h1>
    <% if (recommendedProducts.length > 0) { %>
        <div id="products">
            <% recommendedProducts.forEach(e => { %>
                <div class="product">
                    <div class="image">
                        <img src="/images/uploads/<%= e.productImage %>" alt="">
                    </div>
                    <div class="data">
                        <div id="upper">
                            <h3><%=e.title %></h3>
                            <h3>&#8377; <%=e.price %></h3>
                        </div>
                        <div id="brand">
                                                    <h3><%=e.brand %></h3>
                        </div>
                        <div id="icons">
                            <!-- <a href="#" class="add-to-cart" data-productid="<%= e._id %>"><i class="ri-shopping-cart-fill"></i> Add to cart</a> -->
                            <a href="#" class="remove-from-cart" data-productid="<%= e._id %>"><i class="ri-close-circle-fill"></i> Remove from cart</a>
                            <a href="/product/<%= e._id %>"><i class="ri-arrow-right-circle-line"></i></a>
                        </div>


                    </div>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>No recommended products available.</p>
    <% } %>
</body>
</html>
